.head{
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: cornflowerblue;
    margin: 5px;
}
.navi{
    border: 1px solid black;
    text-align: center;
}
.bod{
    position: relative;
    border: 5px solid rgb(136, 218, 65);
    text-align: center;
    background-color: aquamarine;
    padding-top: 1%;
    padding-bottom: 100%;
}
div{
    font-family: Geneva, sans-serif;
}
.sec1{
    position: absolute;
    border: 5px solid white;
    left: 10px;
    padding: 1%;
    padding-bottom: 1%;
    padding-top: 0%;
    padding-left: 0;
    padding-right: 0;
    background-color:cornflowerblue;
}
.sec1head{
    position: relative;
    border: 3px solid blue;
    padding-left: 100px;
    padding-right: 100px;
    background-color:coral;
}
.nsec1{
    position: relative;
    border: 3px solid green;
    background-color: bisque;
    padding-bottom: 12em;
    padding-top: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
}
.fsec1{
    position: relative;
    border: 3px solid blue;
    background-color:coral;
    padding-bottom: 5%;
}
.sec2{
    position: absolute;
    border: 3px solid white;
    left: 290px;
    padding-bottom: 15%;
    padding-left: 15px;
    padding-right: 0;
    margin-left:0;
    padding-right: 10px;
    background-color:cornflowerblue;
    right: 5px;
}
.sec2head{
    position: relative;
    border: 3px solid rgb(214, 237, 114);
    padding-left: 100px;
    padding-right: 100px;
    background-color:coral;
}
.arc1{
    border: 2px solid green;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.arch1{
    border: 2px solid rgb(68, 233, 134);
    margin-top: 5px;
    margin-bottom: 5px;
}
.arcp1{
    border: 2px solid rgb(68, 233, 134);
    margin-top: 5px;
    margin-bottom: 5px;
}
.arcp2{
    border: 2px solid rgb(68, 233, 134);
    margin-top: 5px;
    margin-bottom: 5px;
}
.arcf1{
    border: 2px solid rgb(68, 233, 134);
    margin-top: 5px;
    margin-bottom: 5px;
}
.fsec2{
    position: relative;
    border: 3px solid rgb(68, 233, 134);
    background-color:coral;
    padding-bottom: 5%;
    padding-top: 5%;
}
.arc2{
    border: 2px solid yellow;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.arc2h1{
    position: sticky;
    border: 2px solid blue;
    margin-top: 5px;
    margin-bottom: 5px;
}
.arc2p1{
    border: 2px solid white;
    margin-bottom: 1px;
    position: relative;
    padding: 10%;
    right:60px;
    margin-left: 7%;
    margin-right: 50%;
}
.arc2a1{
    position: relative;
    left: 450px;
    top: -210px;
    margin-right: 50%;
    padding: 10%;
    border: 2px solid white;
    margin-bottom: 1px;
}
.arc2f1{
    border: 2px solid white;
    margin-bottom: 1px;
    padding: 5%;
}